.programas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card__programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 270px;
    height: 350px;
    overflow: hidden;
    box-shadow: 1px 11px 22px -16px rgba(0,0,0,0.87);
    //z-index: 6;
  }
  
  .card__programas img {
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 2px;
    border: 10px solid transparent;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.71); 
    
  
  }
  
  .card__img-1{
    background-color:$primary-color-s;   
  }
  .card__img-2{
    background-color:$primary-color-f;   
  }
  .card__img-3{
    background-color:$primary-color-l;   
  }
  .card__img-4{
    background-color:$base-color-s;   
  }


  .title_principal{
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    font-family: $big-title;
    margin-bottom: 20px;
    padding-bottom: 20px;

    color: $dark-color;
    margin-bottom: 2.5px;
    border-bottom: 2px solid $dark-color-3;

  }
  .card__img{
    padding: auto;
  }
  .programa__title{
    font-size: 1.2rem;
    font-family: $big-title;
    color: $dark-color;
    
  }
  .title{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .programa__parrafo{
    font-size: .8rem;
    font-family: $big-title;
    color: $text-parrafo;
  }
  .modal1{
  position:relative;
  left: 0;
  right: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #377caf;
  color: $text-color;
  border-radius: 50px;
  cursor: pointer;
 
  }
  
  
  @media (max-width: 600px) {
    .card__programas {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .card__programas {
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-bottom: 20px;
      //margin-right: 0;
    }
    .programas{
      display: flex;
      flex-direction: column;
    }
  }
  