.menu{
    background-color: $primary-color;
    color: $text-color;
    height: 70px; 
    width: 100%;   
    font-family: $regular-title;
    font-size: .8em;
    display: flex;
    position:fixed;
    z-index: 4;
}

.menu__container{
    display: flex;
    justify-content:end;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    color: black;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    right: 10px;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: $text-color;
    text-decoration: none;
    padding: 0 5px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: $secondary-color;
    //color: $dark-color-2;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color:$text-color;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
    color: $dark-color;
}

.menu__link--inside:hover{
    background-color: $secondary-color;
    color: $text-color;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}
.logo-img{
    position: fixed;
    height: 70px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: $base-color;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color:$base-color;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid $primary-color;
    }
}